.title {
  text-align: center;
}

.titleBtn {
  height: 20px;
  width: 20px;
  margin: 10px;
  padding: 0 0 2px 0;
  color: firebrick;
}

.btn {
  color: darkblue;
  font-weight: bold;
  border: 2px solid blue;
  border-radius: 5px;
  outline: transparent;
  margin: 3px;
}

.addBtn {
  background-color: blue;
  color: white;
  font-weight: bold;
  outline: none;
  border: 1px solid blue;
  border-radius: 3px;
  margin-left: 10px;
}

.filterBtns {
  margin: 10px;
}

.selected {
  background-color: blue;
  color: white;
  outline: transparent;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.errorMessage {
  margin-left: 10px;
  color: firebrick;
}