.addBtn {
  background-color: blue;
  color: white;
  font-weight: bold;
  outline: none;
  border: 1px solid blue;
  border-radius: 3px;
  margin-left: 10px;
}

.error {
  border: 2px solid red;
  outline: transparent;
}

.errorMessage {
  margin-left: 10px;
  color: firebrick;
}